<% title t('titles.dashboard') %>

<div class="mdl-cell mdl-cell--12-col">
  <h1><%= t(:hello) %></h1>
</div>

<div class="mdl-cell mdl-cell--12-col">
  <ul>
    <li>Tracker Index</li>
    <li>Search Tool (like Keyhole)</li>
  </ul>
</div>
