<% image_src = post["images"]["standard_resolution"]["url"] %>
<% likes = post["likes"]["count"] %>
<% comments = post["comments"]["count"] %>
<% link = post["link"] %>

<div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--4dp post"
  data-link=<%= link %>
  style="background-image: url('<%= image_src %>')">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <i class="material-icons">favorite</i><%= number_to_human(likes) %>
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons">comment</i><%= number_to_human(comments) %>
  </div>
</div>
