<% title @presenter.name %>

<% content_for :page_options do %>
  <%=
    link_to hashtag_tracker_path(@presenter.tracker),
    class: "mdl-menu__item",
    method: :delete,
    data: { confirm: I18n.t('trackers.tracker.delete_message') } do %>
    <%= t('page_options.delete').titleize %>
  <% end %>
<% end %>

<section class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
  <h3>Recent Posts</h3>
  <div class="mdl-grid mdl-grid--nested">
    <%= render partial: 'post', collection: @presenter.recent_posts %>
  </div>
</section>

<section class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
  <h3>Recent Users</h3>
  <div class="mdl-grid mdl-grid--nested">
    <%= render partial: 'user', collection: @presenter.recent_users %>
  </div>
</section>

<script type='text/javascript'>
  setCardHeight();

  $(document).ready(function () {
    createLinks();
  });

  $(window).on("resize", function() {
    setCardHeight();
  });
</script>
