---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?access_token=643071493.37ebd4b.27ecfbbd8b094e6eb77a77e55ac01f9c&q=charity.grace
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '480'
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"id": "244841837", "username": "charity.grace", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/18950336_849425845208965_5839497514859888640_a.jpg",
        "full_name": "Charity Grace LeBlanc", "bio": "Jesus. Wifey. Mama. Coffee.
        Mermaid. Yoga. Ninja. Surf. Nutella. . \u2709\ufe0fcharity@charityleblanc.com
        \ud83d\udcaa\ud83c\udffb@womensbest", "website": "https://youtu.be/Bx4Kx5DagrU"}],
        "meta": {"code": 200}}'
  recorded_at: Tue, 11 Jul 2017 04:09:41 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/244841837/media/recent?access_token=643071493.37ebd4b.27ecfbbd8b094e6eb77a77e55ac01f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '479'
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {}, "data": [{"id": "1556005672050295355_244841837",
        "user": {"id": "244841837", "full_name": "Charity Grace LeBlanc", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/18950336_849425845208965_5839497514859888640_a.jpg",
        "username": "charity.grace"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/19984566_1875574462708285_2976186828870123520_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/19984566_1875574462708285_2976186828870123520_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/19984566_1875574462708285_2976186828870123520_n.jpg"}},
        "created_time": "1499710352", "caption": {"id": "17888075035004173", "text":
        "Always dreaming of the ocean \ud83c\udf0a \n#mermaidlife .\nWearing @_kahunakaiswimwear_",
        "created_time": "1499710352", "from": {"id": "244841837", "full_name": "Charity
        Grace LeBlanc", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/18950336_849425845208965_5839497514859888640_a.jpg",
        "username": "charity.grace"}}, "user_has_liked": true, "likes": {"count":
        16055}, "tags": ["mermaidlife"], "filter": "Normal", "comments": {"count":
        56}, "type": "carousel", "link": "https://www.instagram.com/p/BWYCuonDQI7/",
        "location": {"latitude": 26.9767, "longitude": -80.0819, "name": "Blowing
        Rocks, Florida", "id": 240825680}, "attribution": null, "users_in_photo":
        [{"user": {"id": "3875914387", "full_name": "_kahunakaiswimwear_", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/16123947_599803713545934_7048463463596687360_a.jpg",
        "username": "_kahunakaiswimwear_"}, "position": {"x": 0.6893333333333334,
        "y": 0.4885495495495495}}], "carousel_media": [{"images": {"thumbnail": {"width":
        150, "height": 150, "url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/19984566_1875574462708285_2976186828870123520_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/19984566_1875574462708285_2976186828870123520_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/[...]
