---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?access_token=643071493.37ebd4b.27ecfbbd8b094e6eb77a77e55ac01f9c&q=charity.grace
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '481'
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"id": "244841837", "username": "charity.grace", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/18950336_849425845208965_5839497514859888640_a.jpg",
        "full_name": "Charity Grace LeBlanc", "bio": "Jesus. Wifey. Mama. Coffee.
        Mermaid. Yoga. Ninja. Surf. Nutella. . \u2709\ufe0fcharity@charityleblanc.com
        \ud83d\udcaa\ud83c\udffb@womensbest", "website": "https://youtu.be/Bx4Kx5DagrU"}],
        "meta": {"code": 200}}'
  recorded_at: Tue, 11 Jul 2017 04:04:03 GMT
recorded_with: VCR 3.0.3
