---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/mermaid/media/recent?access_token=643071493.37ebd4b.27ecfbbd8b094e6eb77a77e55ac01f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '478'
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"next_min_id": "AQCCpOYKNZiRtToEoGLFN_ahQnZl_295ZEJW197aN-FKs2d8YqxhtArXZbOse-j8THNCErLnrkH_Lcv38uYjJHItuTF_0WdBzxKeDgkydJa_gA",
        "min_tag_id": "AQCCpOYKNZiRtToEoGLFN_ahQnZl_295ZEJW197aN-FKs2d8YqxhtArXZbOse-j8THNCErLnrkH_Lcv38uYjJHItuTF_0WdBzxKeDgkydJa_gA",
        "deprecation_warning": "next_max_id and min_id are deprecated for this endpoint;
        use min_tag_id and max_tag_id instead"}, "data": [{"id": "1545238156919354155_244841837",
        "user": {"id": "244841837", "full_name": "Charity Grace LeBlanc", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/18950336_849425845208965_5839497514859888640_a.jpg",
        "username": "charity.grace"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/c0.135.1080.1080/19429468_1986080338278972_679149709499039744_n.jpg"},
        "low_resolution": {"width": 320, "height": 400, "url": "https://scontent.cdninstagram.com/t51.2885-15/e35/p320x320/19429468_1986080338278972_679149709499039744_n.jpg"},
        "standard_resolution": {"width": 640, "height": 800, "url": "https://scontent.cdninstagram.com/t51.2885-15/sh0.08/e35/p640x640/19429468_1986080338278972_679149709499039744_n.jpg"}},
        "created_time": "1498426764", "caption": {"id": "17860523428163447", "text":
        "@mac.designs keeping my mermaid queen vibes on point \ud83d\udc51\ud83d\udc1a\ud83d\udc8d\n#mermaidhair
        #mermaid #mermaidians #mermaidlife #mermaidjewelry #mermaidcrown #bluehair
        \nDress from @emmaoclothing1 \nJewelry from @mac.designs\nPhoto by @ariel.ariphotography",
        "created_time": "1498426764", "from": {"id": "244841837", "full_name": "Charity
        Grace LeBlanc", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/18950336_849425845208965_5839497514859888640_a.jpg",
        "username": "charity.grace"}}, "user_has_liked": true, "likes": {"count":
        18267}, "tags": ["mermaidjewelry", "mermaidhair", "mermaidcrown", "mermaidians",
        "mermaidlife", "mermaid", "bluehair"], "filter": "Normal", "comments": {"count":
        38}, "type": "image", "link": "https://www.instagram.com/p/BVxyeqsjrMr/",
        "location": {"latitude": 27.980160129727, "longitude": -82.818752344909, "name":
        "Clearwater Beach", "id": 886089576}, "attribution": null, "users_in_photo":
        [{"user": {"id": "332442480", "full_name": "Emma Ostergren", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13525409_280170245670451_1915363497_a.jpg",
        "username": "emmaoclothing1"}, "position": {"x": 0.6183333333333333, "y":
        0.944}}, {"user": {"id": "1452071705", "full_name": "MACdesigns", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/10584630_830685880290047_29275769_a.jpg",
        "username": "mac.designs"}, "position": {"x": 0.525, "y": 0.368}}]}, {"id":
        "1531332309219085518_643071493", "user": {"id": "643071493", "full_name":
        "Andre LeBlanc", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/18013493_197[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/244841837?access_token=643071493.37ebd4b.27ecfbbd8b094e6eb77a77e55ac01f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '477'
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"id": "244841837", "username": "charity.grace", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/18950336_849425845208965_5839497514859888640_a.jpg",
        "full_name": "Charity Grace LeBlanc", "bio": "Jesus. Wifey. Mama. Coffee.
        Mermaid. Yoga. Ninja. Surf. Nutella. . \u2709\ufe0fcharity@charityleblanc.com
        \ud83d\udcaa\ud83c\udffb@womensbest", "website": "https://youtu.be/Bx4Kx5DagrU",
        "counts": {"media": 2231, "follows": 1003, "followed_by": 272297}}, "meta":
        {"code": 200}}'
  recorded_at: Tue, 11 Jul 2017 04:09:48 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/643071493?access_token=643071493.37ebd4b.27ecfbbd8b094e6eb77a77e55ac01f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '476'
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"id": "643071493", "username": "andremleblanc", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/18013493_197159194132858_6887960862162681856_a.jpg",
        "full_name": "Andre LeBlanc", "bio": "\u2764\ufe0f@charity.grace\n--\nShow
        what it means to be His\nTo be formed in His likeness\nShow them they have
        a purpose\nTo be salt and light in the world", "website": "", "counts": {"media":
        104, "follows": 156, "followed_by": 6770}}, "meta": {"code": 200}}'
  recorded_at: Tue, 11 Jul 2017 04:09:48 GMT
recorded_with: VCR 3.0.3
