$footer-height: 64px;
$header-height: 64px;

// Colors
$black: #212121;
$black-transparent: rgba(0,0,0,0.2);
$blue-600: #1E88E5;
$blue-700: #1976D2;
$green-100: #C8E6C9;
$green-200: #A5D6A7;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-800: #424242;
$grey-900: #212121;
$red-100: #FFCDD2;
$red-200: #EF9A9A;
$yellow-100: #FFF9C4;
$yellow-500: #FFEB3B;
$highlight-color: #85c51f;
