.trackers {
  .mdl-card {
    form {
      .mdl-selectfield, .mdl-textfield {
        width: 100%;
      }
    }

    .mdl-card__actions {
      display: flex;
    }
  }
}

.account_trackers, .hashtag_trackers {
  &.show {
    section {
      h3 {
        margin: 0;
      }
    }

    .mdl-card {
      background-position: center;
      background-size: cover;
      min-height: auto;
      cursor: pointer;

      .mdl-card__actions {
        align-items: center;
        background-color: $black-transparent;
        color: white;
        display: flex;

        .material-icons {
          padding-right: 10px;
        }
      }
    }
  }
}
