---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/et/media/recent?access_token=643071493.37ebd4b.27ecfbbd8b094e6eb77a77e55ac01f9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '497'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"pagination": {"deprecation_warning": "next_max_id and min_id are
        deprecated for this endpoint; use min_tag_id and max_tag_id instead"}, "data":
        [], "meta": {"code": 200}}'
  recorded_at: Mon, 03 Jul 2017 23:22:32 GMT
recorded_with: VCR 3.0.3
